<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.lawyers.system.mapper.lawyers.AiConsultationCategoryMapper">
    
    <resultMap type="AiConsultationCategory" id="AiConsultationCategoryResult">
        <result property="categoryId"      column="category_id"      />
        <result property="categoryName"    column="category_name"    />
        <result property="parentId"        column="parent_id"        />
        <result property="ancestors"       column="ancestors"        />
        <result property="orderNum"        column="order_num"        />
        <result property="leader"          column="leader"           />
        <result property="phone"           column="phone"            />
        <result property="email"           column="email"            />
        <result property="status"          column="status"           />
        <result property="delFlag"         column="del_flag"         />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
    </resultMap>

    <sql id="selectAiConsultationCategoryVo">
        select category_id, category_name, parent_id, ancestors, order_num, leader, phone, email, status, del_flag, create_by, create_time, update_by, update_time 
        from ai_consultation_category
    </sql>
    
    <select id="selectAiConsultationCategoryList" parameterType="AiConsultationCategory" resultMap="AiConsultationCategoryResult">
        <include refid="selectAiConsultationCategoryVo"/>
        <where>
            <if test="categoryName != null and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
        order by order_num
    </select>
    
    <select id="selectAiConsultationCategoryById" parameterType="Long" resultMap="AiConsultationCategoryResult">
        <include refid="selectAiConsultationCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertAiConsultationCategory" parameterType="AiConsultationCategory">
        insert into ai_consultation_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null and ancestors != ''">ancestors,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateAiConsultationCategory" parameterType="AiConsultationCategory">
        update ai_consultation_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="leader != null and leader != ''">leader = #{leader},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteAiConsultationCategoryById" parameterType="Long">
        delete from ai_consultation_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteAiConsultationCategoryByIds" parameterType="String">
        delete from ai_consultation_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>